/* Hero style configuration */
.VPHomeHero,
.VPHero { 
  position: relative;
  overflow: hidden;
  padding: 70px 20px  70px 24px!important;
  margin: 10px 0  20px 0!important;
}

.VPHomeHero::before,
.VPHero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/home/Images/HeroBackground.png") center / cover no-repeat;
  opacity: 0.7;           
  pointer-events: none;
}

.VPHomeHero .container,
.VPHero .container {
  position: relative;
  z-index: 1;
}

/* Features section configuration */
.VPFeatures .item .VPFeature .box {
  border: 2px solid #eee!important; 
  border-radius: 10px;                               
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.06);            
}

/* Header configuration */
.content[data-v-cf6e7c5e] {
  flex-grow: 1;
}

